# PG variables
PG_HOST=postgres
PG_PORT=5432
PG_USERNAME=user1
PG_PASSWORD=API_PG_PWD

# RabbitMQ
AMQP_USERNAME=guest
AMQP_PASSWORD=guest
AMQP_HOST=localhost:5672
AMQP_VHOST=api

# SERVER variables
SERVER_PORT=4000